<!DOCTYPE HTML>
<html>
  <head>
    <title>Sample Node App</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Person</th>
          {{#each options}}
          <th>{{this.day}} {{this.time}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{this.email}}</td>
          {{#each this.responses}}
          <td>{{#if this}}Yes{{else}}No{{/if}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    <script src='/js/jquery.min.js' type='text/javascript'></script>
  </body>
</html>