<!DOCTYPE HTML>
<html>
  <head>
    <title>Sample Node App</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="thank-you">
      thank you for submitting your responses, {{email}}!
      <br /><br />
      <footer>
        <br /><br />
        sent via meetmail.<br />
        meetmail is an experimental scheduling system.<br />
        &copy; 2014 victor & steph
      </footer>
    </div>
  </body>
</html>